<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>请上传个人信息</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
     <!--<script src="/javascripts/nav.js" type="text/javascript" charset="utf-8"></script>-->
</head>
<body>
	<%- include('head.ejs') %>
	<p class='welcome_login'>尊敬的&nbsp;&nbsp;<span><%- username %></span>&nbsp;&nbsp;老师,你好</p>
	<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ><a href="/home?status=1">学生成绩汇入</a></li>
  <li role="presentation" class="active" id='message'><a href='#'>个人信息</a></li>
  <li role="presentation"><a href="/home/liuyan">老师留言</a></li>
</ul>
		<!--老师的个人信息填写区域-->
<div class="form-horizontal ">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">姓名</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputEmail3" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">年龄</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputPassword3" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label">科室</label>
    <div class="col-sm-4">
      <input type="text" class="form-control subject" id="inputPassword3" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-4 control-label ">年级</label>
    <div class="col-sm-4">
      <input type="text" class="form-control grade" id="inputPassword3" placeholder="">
    </div>
  </div>
  			<!--点击保存个人信息资料-->
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-10">
      <button type="button" class="btn btn-success register">保存资料</button>
    </div>
  </div>
</div>
<button type="button" class="btn btn-danger zhuxiao" onclick="location.href='/relogin'">注销</button>
<p class='Reminder'>您还没有上传你的个人信息，请填写</p>

<!--<button type="button" class="btn btn-primary  message ">修改个人资料</button>-->
<script type="text/javascript">
//					导航区域的样式改变
	$(".nav>li").click(function(){
		$(this).addClass("active").siblings().removeClass("active");
	})
//		保存资料
	$(".register").click(function(){
		var username = '<%- username %>' ;
		console.log(username);
		$.ajax({
			type:"post",
			url:"/users/save",
			data:{username:username,name:$("#inputEmail3").val(),age:$("#inputPassword3").val(),subject:$(".subject").val(),grade:$(".grade").val()},
			success:function(data){
				if(data == '1'){
					alert("资料保存成功！");
					location.href = '/home/message?status=2' 
				}else{
					alert('资料保存失败!');
				}
			}
		})
	})
</script>
</body>
</html>